body .btn {
    padding: .6rem 1.5rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;
}

body .btn:active, body .btn:focus, body .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

body .btn.btnPrincipal {
    background: #51a3de;
    color: #FFFFFF;
}

body .btn.btnPrincipal:active, 
body .btn.btnPrincipal:focus, 
body .btn.btnPrincipal:hover {
    background: #005076;
}

body .btn.btnSecundario {
    background: transparent;
    color: #51a3de;
    border: 2px solid #51a3de;
}

body .btn.btnSecundario:active, body .btn.btnSecundario:focus, body .btn.btnSecundario:hover {
    background: #51a3de;
    color: #FFFFFF;
}

body .btn.btnInfo {
    font-weight: 300;
    padding: .6rem 1.2rem;
}

.bienvenidosPrincipal {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bienvenidosPrincipal .divPrincipal {
    z-index: 2;
    position: relative;
}

.bienvenidosPrincipal .textoPrincipal {
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.bienvenidosPrincipal .textoPrincipal .container {
    padding: 1rem 0;
}

.bienvenidosPrincipal .textoPrincipal .contenidoTexto {
    margin-top: 4rem;
}

.bienvenidosPrincipal .textoPrincipal h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
}

.bienvenidosPrincipal .textoPrincipal h3 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 3rem;
}

.bienvenidosPrincipal .flechaBajar {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.bienvenidosPrincipal .flechaBajar a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: max-content;
}

.bienvenidosPrincipal .imgPrincipal2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/public/images/imgPrincipal.jpg) center top / cover no-repeat;
    transform: rotateY(180deg)
}

.bienvenidosPrincipal .imgPrincipal2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4)
}